@page "/expediente"

<nav class="m-2">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Información Personal</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Dirección</button>
   </div>
</nav>
<EditForm Model="@ExpedienteModel" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>
    <div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <InformacionPersonal Expediente="ExpedienteModel"></InformacionPersonal>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <Direccion Expediente="ExpedienteModel"></Direccion>
  </div>
</div>
</EditForm>

<button type="submit" class="btn btn-success ml-3 mt-3">Guardar</button>
@code {
    Models.Expediente ExpedienteModel;

    protected override async Task OnInitializedAsync()
    {
        ExpedienteModel = new();
    }

    private void Guardar()
    {

    }
}